{% if theme_topauto_menustyle %}
<button type="button" class="btn btn-primary dropdown dropdown-toggle col-md-4 col-sm-2" data-toggle="dropdown"><span class="hidden-sm">{{ text_category }}</span><div class="catalogicon"><span></span><span></span><span></span></div></button>
<div class="dropdown-menu">
<div class="dropdown-inner">
{% if categories %}
	  <ul class="nav navbar-nav">
		{% for category in categories %}
		{% if category.children %}
		<li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle child">{{ category.name }}<i class="fa fa-chevron-right"></i></a>
		  <div class="dropdown-menu submenu">
			<div class="dropdown-inner">
			  {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
			  <ul class="list-unstyled">
				{% for child in children %}
				<li><a href="{{ child.href }}">{{ child.name }}</a></li>
				{% endfor %}
			  </ul>
			  {% endfor %}
			</div>
			<a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
		</li>
		{% else %}
		<li><a href="{{ category.href }}">{{ category.name }}</a></li>
		{% endif %} 
		{% endfor %}
	  </ul>
{% endif %} 
</div>
</div>
{% endif %} 


{% if (not theme_topauto_menustyle) %}
{% if categories %}
<nav id="menu-horizont" class="navbar">
  <div class="container">
    <div class="navbar-header"><span id="category" class="visible-xs col-xs-10">{{ text_category }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle col-xs-2 catbtn" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {% for category in categories %}
        {% if category.children %}
        <li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
          <div class="dropdown-menu">
            <div class="dropdown-inner">
              {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}
            </div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
{% endif %} 
{% endif %}